.hero {
    width: 100%;


}

.hero-images {
    width: 100%;
    height: 100%;

}

.hero-images img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

@media (max-width:768px) {
    .hero {
        width: 100%;
        height: auto;
        padding-top: 60px;

    }

    .hero-images img {
        height: 100%;
        width: 100%;
        object-fit: contain;

    }

}