.midSection {
    padding: 40px 16px;
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}



.shopby {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.shopyby_list {
    position: absolute;
    margin-top: 300px;
    background: white;
    height: 250px;
    width: 190px;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}

.shopyby_list p:hover {
    background-color: gray;
}

.ShopbyIcon {
    cursor: pointer;
    height: 20px;
    width: 20px;
}


.midSection {
    width: 100%;
    height: auto;
}

.MiddleTexts {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.MiddleTexts span {
    color: #8f6943;
}

.MiddleTexts h1 {
    padding-top: 30px;
}


.midsection_video {
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
}

.Best_Sellers {
    padding: 0 16px;
}

.Best_Sellers h1,
.Best_Sellers p {
    text-align: center;
}

/* .Cards_container{
    /* display: flex;
    width: 100%;
    background-color: red !important;
    justify-content: center;
    gap: 10px; */
/* Swiper already uses its own flex system.
By forcing flex, you’re fighting Swiper.
     */

.swiper {

    max-width: 1280px;
    /* it will provide max width and width will not exceed from 1280. */
}



.cards {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 16px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    overflow: hidden;

}

.card {
    padding-bottom: 10px;

}






.product_img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    transition: ease-in-out;
}

.product_img img:hover {
    transform: scale(1.01);
    overflow: hidden;
    background: yellow;
    border-radius: 20pxs;
}



.add_to_cart {

    height: 50px;
    width: 90%;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    background-color: #8f6943;
    border: 2px solid white;

}


.pricesection {
    font-weight: 700;
    padding: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;


}

.card h3 {
    font-size: 20px;
}

.product_title {


    padding: 10px;
    /* white-space: nowrap;  use to text in one line*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.quantity_btn {
    border: 1px solid black;
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.quantity_btn:hover {
    background: black;
    color: white;
}


.original_price {
    text-decoration: line-through;
}

/*  */

.shopAllbtn {
    margin: 30px auto;
    display: block;
    padding: 10px 48px;
    background-color: #8f6943;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}


.shopAll {
    display: flex;
    justify-content: center;
}


.shopAll h1 {
    background: black;
    align-items: center;
}


.ishmiLongVideo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1152px;
}

.SkinHairHealth h2,
.SkinHairHealth p {
    margin-top: 20px;
    text-align: center;
}



.HonoringAyurvedaLegacyContainer {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

.HonoringAyurvedaLegacy {
    max-width: 1280px;

    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.HonoringAyurvedaLegacyTexts {
    padding: 40px;
    width: 100%;
}

.HonoringAyurvedaLegacyIMGContainer {

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    grid-gap: 20px;
}

.HonoringAyurvedaLegacyIMG {

    height: 100%;
    border-radius: 10px;
    max-width: 100%;
    border: 2px solid black;
    object-fit: cover;



}

.HonoringAyurvedaLegacybtn {
    padding: 10px 38px;
    background-color: #8f6943;
    color: white;
    border-radius: 10px;
}




.FeaturedCombosButton {
    border-radius: 20px;
    background-color: #8f6943;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

.FeaturedCombosButton:hover {
    color: white;
}


.FeaturedCombos h1,
.FeaturedCombos p {
    margin-top: 20px;
    text-align: center;
}

.productAboutcontainer {
    background-color: #dfc4a6;
    width: 100%;
    height: 100%;
    padding: 40px;
}


.productAboutcontainer h2 {
    text-align: start;
    color: black;
}

.productAboutSection {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.productAbout {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.productAboutimgContainer {
    height: 150px;
    width: 150px;
}



.productAboutparagraph {
    font-weight: 700;
    font-size: 30px;
}

.productAboutimg {
    padding: 10px;
    height: 150px;
    width: 150px;
}



.image_slider_container {

    text-align: center;
    padding: 30px;


}

.image_slider {

    gap: 30px;
    overflow: hidden;


}

.image_slider img {
    border-radius: 20px;
    height: 363px;
    width: 302px;
}

.image_slider_child p {
    font-weight: 600;
}

.image_slider_child h3 {
    font-weight: 700;
}


.JointheISHMIClub_container {
    display: flex;
    justify-content: center;
    background: #dfc4a6;
    width: 100%;
    padding: 30px;
    height: auto;
}

.JointheISHMIClub {
    height: 100%;
    width: auto;
}

.JointheISHMIClub h2 {
    text-align: center;
    color: white;
}

.JointheISHMIClub_emailandbutton {
    height: auto;
    min-width: 420px;
    position: relative;
    /* border: 2px solid red */

}

.JointheISHMIClub_emailandbutton input {
    padding: 20px;
    border-radius: 70px;
    width: 100%;
    border: 2px solid transparent
}


.JointheISHMIClub_button {
    width: 150px;
    padding: 12px 24px;
    border-radius: 70px;
    background-color: #8f6943;
    border: none;
    color: white;
    position: absolute;
    transform: translate(-110%);
    top: 14%;
}

input:focus {
    outline: none;
}







.Foooter_container {

    background-image: url("../assets/homePage/footerbg.jpg");
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 0 40px;
    color: #8f6943;
}


.Foooter_container_links {
    height: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 60px;
    font-family: sans-serif;
}




.Foooter_container p {
    text-align: start;
    font-size: 14px;
    width: auto;
}

.footer_logo {
    height: 60px;
    width: auto;
}

.footer_socialmedialinks img {
    height: 30px;
    margin: 10px;
}

.Foooter_container a {
    text-decoration: none;
    color: #8f6943;
}

.Foooter_container li {
    list-style-type: none;
}

.Foooter_container-copyright {
    display: flex;
    justify-content: center;
}




.links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 18pxs;
    margin-top: 10px
}

/* at desktop mobile footer is none meanns hide  */

.Foooter_container-Mobile {
    display: none;
}

/* here start mobile and tablet */
.Foooter_container-Mobile {
    background-image: url("../assets/homePage/footerbg.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 045px;

}


.Foooter_container-Mobile {

    height: auto;
    width: 100%;
}

.Foooter_container_links_text-mobile {
    color: #8f6943;
    font-size: 13px;

}

.link-container {
    height: auto;
    border-bottom: 1px solid #8f6943;
}

.link-container ul {
    list-style: none;
}

.link-container a {
    text-decoration: none;
    color: #8f6943;
}

.link-container button {
    color: #8f6943;
}


.Foooter-mobile-copyright {
    color: #8f6943;
    display: flex;
    justify-content: center;
}




@media(max-width:768px) {
    .Foooter_container_links {

        grid-template-columns: 1fr 1fr 1fr;
    }

    .Foooter_container p {

        font-size: 14px;
    }

    .HonoringAyurvedaLegacy {
        grid-template-columns: 1fr;
    }

    .productAboutSection {
        grid-template-columns: 1fr;
    }

    /* this is for desktop  */
    .Foooter_container {
        display: none;
    }

    .Foooter_container-Mobile {
        display: block;
    }




}

@media (max-width:480px) {
    .JointheISHMIClub_emailandbutton {
        min-width: 320px;
    }

    .JointheISHMIClub_button {
        width: 120px;
    }





    .productAboutparagraph {
        font-weight: 700;
        font-size: 20px;
    }

    .productAboutimg {
        padding: 10px;
        height: 120px;
        width: 120px;
    }

    .productAboutcontainer {
        
        padding: 10px;
    }
.FeaturedCombos{
    padding: 10px;
}




}