.navbar-container {
    position: sticky;
    z-index: 10000;

}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #dfc4a6;
}

.navbar-transparent {
    background: transparent;
    width: 100%;
    top: 0;
    position: absolute;

}

.middle_nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


.middle_nav a {
    text-decoration: none;
    color: rgb(60, 12, 12);
    font-size: 16px;
}



.middle_nav a:hover {
    color: black;
}

nav .logoImg {
    height: 60px;
    width: auto;
}


.sideicons {
    display: flex;
    gap: 10px;


}



.sideicons img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}


.middle-nav-for-phone {
    background-color: #fef0e1;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    position: fixed;
    font-size: 20px;
    right: -220px;
    /* by this the div is totally hide from page */
    transition: 0.35s ease;

}

.middle-nav-for-phone-active {
    right: 0;
    /* by this the div is again present on page*/
}

.middle-nav-for-phone-active div {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}


.middle-nav-for-phone a {
    text-decoration: none;
    color: rgb(73, 26, 26);
}

.close-icon-container {
    height: 60px;
    border-bottom: 1px solid black;

}

.middle-nav-for-phone .close-icon {
    height: 19px;
    width: 19px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    right: 20px;
    top: 20px
}

.hamburger-menu {
    display: none;
}

.shopyby_list-for-phone a {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.shopyby_list-for-phone a:hover {
    background-color: #b0997f
}

.phonelinkexample {
    border-bottom: 0.5px solid black;
}

@media (max-width:768px) {
    .navbar-container {
        position: sticky;
        top: 0;
    }

    nav {
        background-color: white !important;

    }

    .hamburger-menu {
        display: block;
    }

    .middle_nav {
        display: none;
    }


}

@media (max-width:480px) {
    .navbar-container {
        position: sticky;
        top: 0;
    }

    nav {
        background-color: white !important;
    }

    .navbar-transparent {
        width: 100%;

    }


}