/* .ProductDetailsContainer {
    display: flex;
    grid-gap: 20px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 50px;
}

.Productimage_section {

    border-radius: 20px;
  
    width: 50%;


}

.proudctdetails_section {
 
}

.Productdetailsimg {
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

.Productimage_section img {
    object-fit: cover;
   
    border-radius: 20px;
    width: 100%;
    height: 100%;


} */


.ProductDetailsContainer {
  display: flex;
  gap: 50px;
  padding: 40px 80px;
  background: #fff;
}


.Productimage_section {
  flex: 1;
}
/* .Productimage_section{
  background: red;
} */

.Productdetailsimg {

  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #eee;
}

.Productdetailsimg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.proudctdetails_section {
  flex: 1;
}

.product_title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.static_review {
  color: oklch(.795 .184 86.047);
  ;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* 
.review_text {
  font-size: 14px;
  color: #666;
  margin-left: 8px;
} */

.price_section {
  display: flex;
  align-items: center;
  place-items: start;
  gap: 15px;


}

.discount_price {
  

  color: red;
}

.original_price {
 
  color: grey;
 
}

.offer {
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  background-color: red;
}

.size_section p {
  font-weight: 500;
  margin-bottom: 8px;

}

.size_btn {
  padding: 10px 18px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
  border-radius: 6px;
}


.action_buttons {
  width: 300px;
  display: flex;
  gap: 10px;
  margin: 15px 0;

}

.add_cart {
  flex: 1;
  padding: 14px;
  border: 1px solid #000;
  background: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
}

.buy_now {
  flex: 1;
  padding: 14px;
  border: none;
  background: blue;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
}

.add_cart:hover {
  transform: scale(1.02);
}

.buy_now:hover {
  transform: scale(1.02);

}

/* SECONDARY ACTIONS */
.secondary_actions {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.secondary_actions button {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 14px;
}

/* FEATURES */
.product_features {
  list-style: none;
  padding: 0;
}

.product_features li {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .ProductDetailsContainer {
    flex-direction: column;
    padding: 20px;
  }
}